version: '3.9'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: refquest
      POSTGRES_PASSWORD: refquest
      POSTGRES_DB: refquest_ai
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
